name: Update twst repository with content from simulator

on:
  schedule:
    # Runs at 01:00 UTC every day
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  update_twst_repo:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout simulator repository
      uses: actions/checkout@v2
      with:
        repository: 'SZ7M8ci7/simulator'
        path: 'simulator-repo'

    - name: Checkout twst repository
      uses: actions/checkout@v2
      with:
        path: 'twst-repo'

    - name: Copy img folder and chara.json to twst repository
      run: |
        cp -R ./simulator-repo/img ./twst-repo/src/assets/img
        cp ./simulator-repo/chara.json ./twst-repo/src/assets/chara.json

    - name: Commit and push changes to twst repository
      run: |
        cd ./twst-repo
        git remote set-url origin https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}
        git config --global user.name "${GITHUB_ACTOR}"
        git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git add img chara.json
        # Check for any changes
        if git diff --staged --exit-code; then
          echo "No changes to commit."
        else
          git commit -m "Automated update: img folder and chara.json from simulator repository"
          git push origin HEAD:${GITHUB_REF}; \
        fi

